<%- include('layout/admin-layout.ejs') -%>

<div class="containerWholeBodyAdmin">
  <div class="containerWholeBodyAdminInnerContainer">
    <a href="/admin/users" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminUserCard">
        <h1 class="adminHomeCardValue cardValueUser"><%- countUsers %></h1>
        <h1 class="adminHomeCardTitle cardTitleUsers">Users</h1>
        <p class="adminHomeCardParagraph">Joined</p>
      </div></a
    >
    <a href="/admin/admin-kids" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminKidsCard">
        <h1 class="adminHomeCardValue cardValueKids"><%- countKids %></h1>
        <h1 class="adminHomeCardTitle cardTitleKids">Kids</h1>
        <p class="adminHomeCardParagraph">went missing</p>
      </div></a
    >
    <a href="/admin/admin-elderly" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminElderlyCard">
        <h1 class="adminHomeCardValue cardValueElderly"><%- countElderly %></h1>
        <h1 class="adminHomeCardTitle cardTitleElderly">Elderly</h1>
        <p class="adminHomeCardParagraph">went missing</p>
      </div></a
    >
    <a href="/admin/admin-pets" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminPetsCard">
        <h1 class="adminHomeCardValue cardValuePets"><%- countPets %></h1>
        <h1 class="adminHomeCardTitle cardTitlePets">Pets</h1>
        <p class="adminHomeCardParagraph">went missing</p>
      </div></a
    >
    <a href="/admin/admin-vehicles" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminVehicleCard">
        <h1 class="adminHomeCardValue cardValueVehicle">
          <%- countVehicles %>
        </h1>
        <h1 class="adminHomeCardTitle cardTitleVehicle">Vehicles</h1>
        <p class="adminHomeCardParagraph">got stolen</p>
      </div></a
    >
    <a href="/admin/admin-valuables" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminValuableCard">
        <h1 class="adminHomeCardValue cardValueValuable">
          <%- countValuables %>
        </h1>
        <h1 class="adminHomeCardTitle cardTitleValuable">Valuable</h1>
        <p class="adminHomeCardParagraph">got lost/stolen</p>
      </div></a
    >
    <a href="/admin/admin-corpse" class="aAdminHomePageCards">
      <div class="containerAdminHomePageCards containerAdminDeadBodyCard">
        <h1 class="adminHomeCardValue cardValueDeadbody">
          <%- countCorpses %>
        </h1>
        <h1 class="adminHomeCardTitle cardTitleDeadbody">Dead Body</h1>
        <p class="adminHomeCardParagraph">found</p>
      </div></a
    >
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
  body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(20, 20, 53, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    margin: 0;
    padding: 0;
    color: white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .containerWholeBodyAdminInnerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
    margin: 100px 310px;
  }
  .containerAdminHomePageCards {
    height: 400px;
    width: 300px;
    background-color: #00000077;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 3fr repeat(2, 1fr);
    place-content: center;
    align-content: center;
    text-align: center;
    padding: 50px 0;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #6d6d6d;
  }
  .containerAdminHomePageCards:hover {
    background-color: #ffffff20;
    text-decoration: none;
  }
  .adminHomeCardValue {
    font-size: 150px;
    margin: 0;
  }
  .adminHomeCardTitle {
    font-size: 40px;
    margin: 0;
  }
  .adminHomeCardParagraph {
    font-size: 30px;
    opacity: 0.3;
    margin: 0;
  }
  .aAdminHomePageCards {
    color: white;
    text-decoration: none;
    user-select: none;
  }
  .aAdminHomePageCards:hover {
    text-decoration: none;
  }
</style>

<script>
  function preventBack() {
    window.history.forward();
  }

  setTimeout("preventBack()", 0);

  window.onunload = function () {
    null;
  };
</script>
