<%- include('../layout/layout.ejs') -%>

<div
  class="containerForMissingKidsDisplay mt-5"
  style="display: flex; align-items: center; justify-content: center"
>
  <div
    class="containerforallitems"
    style="
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 700px;
    "
  >
    <div class="containerName">
      <h1><%- missingvehiclefulldetails.name %></h1>
    </div>
    <div class="containerDateMissing">
      <p><%- missingvehiclefulldetails.missingdate.toLocaleDateString() %></p>
    </div>
    <div
      class="containerTypeBreed"
      style="
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 700px;
      "
    >
      <div class="containerLocationMissed">
        <h4><%- missingvehiclefulldetails.type %></h4>
      </div>
      <div class="containerAge">
        <h4><%- missingvehiclefulldetails.breed %></h4>
      </div>
    </div>
    <div
      class="containerPlaceAgeandReward"
      style="
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
      "
    >
      <div class="containerPlaceAge" style="display: flex; gap: 10px">
        <div class="containerLocationMissed">
          <p><%- missingvehiclefulldetails.placewentmissing %></p>
        </div>
        <div class="containerAge">
          <p>/ <%- missingvehiclefulldetails.age %></p>
        </div>
      </div>
      <div class="containerReward">
        <h4>Reward : Rs.<%- missingvehiclefulldetails.reward %></h4>
      </div>
    </div>
    <div class="containerImage">
      <img
        src="/images/missingvehicle<%= missingvehiclefulldetails.id %>.jpg"
        alt=""
        style="
          height: auto;
          width: 700px;
          border-radius: 20px;
          position: absolute;
          z-index: 1;
        "
      />
      <img
        src="/images/missingvehilce/<%= missingvehiclefulldetails.id %>.jpg"
        alt=""
        style="
          height: auto;
          width: 700px;
          border-radius: 20px;
          filter: blur(60px) brightness(50%);
        "
      />
    </div>

    <div class="containerDescription">
      <h4>Description</h4>
      <p><%- missingvehiclefulldetails.description %></p>
    </div>
  </div>
</div>
