<%- include('../layout/layout.ejs') -%>

<img
  src="/images/LookOut/vehicle.jpeg"
  alt=""
  class="missingKidsMainImage"
  style="width: 100vw"
/>

<div
  class="containerFirstSectionTitleParagraphMissingKids"
  style="
    position: absolute;
    top: 70px;
    right: 20px;
    color: white;
    width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    background-color: #1d1d1d3c;
    padding: 20px;
  "
>
  <h1 style="font-size: 50px">Lost Vehicle</h1>

  <p style="font-size: 18px">
    The loss or theft of a vehicle is a troubling occurrence, causing
    significant distress for its owner and raising alarms within the community.
    It is imperative to respond swiftly, leveraging all available means to
    locate and recover the vehicle. Every moment is critical in ensuring the
    safe return of the lost or stolen vehicle to its rightful owner.
  </p>

  <a
    href="/missingvehicle/createMissingVehiclePost"
    style="
      width: 250px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: #007acc;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;
    "
    >Create a new post</a
  >
</div>

<section>
  <div
    class="container"
    style="
      display: flex;
      flex-direction: row;
      gap: 50px;
      flex-wrap: wrap;
      margin-top: 100px;
    "
  >
    <% vehicleMissing.sort((a, b) => new Date(b.date) - new Date(a.date));
    vehicleMissing.forEach(vehicle => { %>

    <a href="missingvehicle/missingvehiclenewpost/<%= vehicle.id %>">
      <div
        class="containerMissingKidsCards"
        style="
          height: 600px;
          width: 500px;
          background-color: wheat;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          src="images/missingvehicle/<%= vehicle.id %>.jpg"
          alt=""
          style="
            height: auto;
            border-radius: 20px;
            min-height: 600px;
            min-width: 500px;
            max-height: 600px;
            max-width: 500px;
          "
        />
        <div
          class="containerCardOverlayTitle"
          style="
            position: absolute;
            height: 600px;
            width: 500px;
            border-radius: 20px;
            background-image: linear-gradient(
              to top,
              black,
              #0000004c,
              #ffffff00,
              #ffffff00
            );
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: white;
            font-size: 40px;
            padding-bottom: 30px;
          "
        >
          <h4 style="font-size: 40px"><%= vehicle.name %>&nbsp;</h4>
          <h4 style="font-size: 40px">| <%= vehicle.age %></h4>
        </div>
      </div>
    </a>

    <% }) %>
  </div>
</section>

<style>
  body {
    background-color: #1d1d1d;
  }
  .containerMissingKidsDisplayEachCard:hover {
    text-decoration: none;
    color: #007acc;
  }
</style>
<%- include('../partials/footer.ejs') -%>
