<%- include('../layout/layout.ejs') -%>

<div
  class="containerCorpsesWholePage"
  style="
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  "
>
  <h2 class="corpsesPageTitle">Not recognised corpses</h2>

  <a
    href="/corpses/createCorpsePost"
    style="
      width: 250px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: #007acc;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;
    "
    >Create a new post</a
  >
  <% corpses.sort((a, b) => new Date(b.date) - new Date(a.date));
  corpses.forEach(corpse => { %>

  <a href="corpses/corpsesnewpost/<%= corpse.id %>">
    <div
      class="containerMissingKidsCards"
      style="
        height: 600px;
        width: 500px;
        background-color: wheat;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        src="images/corpses/<%= corpse.id %>.jpg"
        alt=""
        style="
          height: auto;
          border-radius: 20px;
          min-height: 600px;
          min-width: 500px;
          max-height: 600px;
          max-width: 500px;
        "
      />
      <div
        class="containerCardOverlayTitle"
        style="
          position: absolute;
          height: 600px;
          width: 500px;
          border-radius: 20px;
          background-image: linear-gradient(
            to top,
            black,
            #0000004c,
            #ffffff00,
            #ffffff00
          );
          display: flex;
          align-items: flex-end;
          justify-content: center;
          color: white;
          font-size: 40px;
          padding-bottom: 30px;
        "
      >
        <h4 style="font-size: 40px"><%= corpse.name %>&nbsp;</h4>
        <h4 style="font-size: 40px">| <%= corpse.age %></h4>
      </div>
    </div>
  </a>

  <% }) %>
</div>

<%- include('../partials/footer.ejs')-%>
